@model AnimalShop.Web.ViewModels.ProductsInCart.ProductCartListingViewModel
@using AnimalShop.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}
@{
    this.ViewData["Title"] = "My Cart";
}

<div>
    <p>
        <strong>@Model.Count product(s) in your cart.</strong>
    </p>
</div>

<div class="row">
    @foreach (var product in Model.Products)
    {
        <partial name="../Shared/_CartPartialView.cshtml" model="product" />
    }
</div>
<hr />
<div class="row">
    <div class="col-75">
        <div class="container">

            <div class="row">
                <div class="col-50">
                    <h3>Personal Info</h3>
                    <label for="fname"><i class="fa fa-user"></i> First Name</label>
                    <input type="text" class="disabled" id="fname" name="firstname" value="@user.FirstName" readonly>
                    <label for="fname"><i class="fa fa-user"></i> Last Name</label>
                    <input type="text" id="fname" name="lastname" value="@user.LastName" readonly>
                    <label for="email"><i class="fa fa-envelope"></i> Email</label>
                    <input type="text" id="email" name="email" value="@user.Email" readonly>
                    <label for="cname"><i class="fa-phone-slash"></i>Phone Number</label>
                    <input type="text" id="cname" name="cardname" value="@user.PhoneNumber" readonly>
                </div>

                <div class="col-50">
                    <h3>Billing Address</h3>
                    <label for="adr"><i class="fa fa-address-card"></i> Address</label>
                    <input type="text" id="adr" name="address" value="@user.Address" readonly>
                    <label for="city"><i class="fa fa-city"></i> City</label>
                    <input type="text" id="city" name="city" value="@user.City" readonly>
                    <label for="city"><i class="fa fa-flag-checkered"></i> Country</label>
                    <input type="text" id="city" name="city" value="@user.Country" readonly>
                    <h3>Payment</h3>
                    <label for="fname">Cash on Delivery</label>
                </div>
            </div>
            @if (Model.SumOfProducts < 50)
            {
                <p>
                    @{ var price = Model.SumOfProducts + 5;
                        var priceToFreeShipping = 45 - Model.SumOfProducts;}
                    <strong>You need $@priceToFreeShipping more for free shipping.</strong>
                    <strong>Your total sum is $@price.</strong>
                </p>
            }
            else
            {
                <p>
                    <strong>Your total sum is $@Model.SumOfProducts.</strong>
                </p>
            }

            @if (Model.Count == 0)
            {
                <button type="button" class="btn btn-primary disabled">Submit Order</button>
            }
            else
            {
                <p><a href="/Home/CompletedOrder" class="btn btn-primary">Submit Order</a></p>
            }
        </div>
    </div>
</div>
<style>
    .row {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        margin: 0 -16px;
    }

    .col-25 {
        -ms-flex: 25%; /* IE10 */
        flex: 25%;
    }

    .col-50 {
        -ms-flex: 50%; /* IE10 */
        flex: 50%;
    }

    .col-75 {
        -ms-flex: 75%; /* IE10 */
        flex: 75%;
    }

    .col-25,
    .col-50,
    .col-75 {
        padding: 0 16px;
    }

    input[type=text] {
        width: 100%;
        margin-bottom: 20px;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    label {
        margin-bottom: 10px;
        display: block;
    }

    .icon-container {
        margin-bottom: 20px;
        padding: 7px 0;
        font-size: 24px;
    }


    span.price {
        float: right;
        color: grey;
    }
</style>

