@model AnimalShop.Web.ViewModels.Food.FoodViewModel
@{ var weight = Model.Weight + "kg";}
@{ var date = Model.ExpirationDate.Month + "/" + Model.ExpirationDate.Day + "/" + Model.ExpirationDate.Year;}
<div class="card">
    <img src="@Model.Image" alt="Denim Jeans" style="width:100%">
    <h1>@Model.Name</h1>
    <p class="price">$@Model.Price for @weight </p>
    <p>@Model.Description</p>
    <div>
        <div style="text-align: left">
            <p class="date">Expiration Date: <time>@date</time></p>
        </div>
        <div class="quantity" style="margin-bottom: 25px">
            <b style="margin-right: 6px">Quantity</b>
            <br />
            <input style="margin-right: 6px" type="number" name="count_products" id="count_products" min="0" value="0" max="@Model.Stock" />
        </div>
    </div>
    <p><button>Add to Cart</button></p>
</div>

<style>
    .quantity{
        text-align: right ;
    }

    .date {
        text-align: left;
        margin-top: 15px;
        margin-left: 6px;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 500px;
        margin: auto;
        text-align: center;
        font-family: arial;
    }

    .price {
        color: grey;
        font-size: 22px;
    }

    .card button {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

        .card button:hover {
            opacity: 0.7;
        }
</style>
