@model AnimalShop.Web.ViewModels.Food.FoodViewModel

@{ var weight = Model.Weight + "kg";}
@{ var date = Model.ExpirationDate.Month + "/" + Model.ExpirationDate.Day + "/" + Model.ExpirationDate.Year;}
<div class="card">
    <img src="@Model.Image" alt="Denim Jeans" style="width:100%">
    <h1>@Model.Name</h1>
    <p class="price">$@Model.Price for @weight </p>
    <p>@Model.Description</p>
    <div>
        <div style="text-align: left">
            <p class="date">Expiration Date: <time>@date</time></p>
            <div class="text-muted small ml-3">
                <form id="votesForm" method="post"></form>
                <div>
                    <a href="#" onclick="sendVote(@Model.Id, true)">
                        <i class="fa fa-thumbs-up"></i>
                    </a>
                </div>
                <div id="votesCount">@Model.VotesCount</div>
                <div>
                    <a href="#" onclick="sendVote(@Model.Id, false)">
                        <i class="fa fa-thumbs-down"></i>
                    </a>
                </div>
            </div>
        </div>
       
        @if (this.Model.Stock == 0)
        {
            <div class="quantity" style="margin-bottom: 25px">
                <b style="margin-right: 6px">Out of stock</b>
            </div>
            <p><a href="/Details/AddFoodOrder/@Model.Id" class="btn btn-primary btn-block disabled">Add to Cart</a></p>

        }
        else
        {
            <p><a href="/Details/AddFoodOrder?foodId=@Model.Id" class="btn btn-primary btn-block">Add to Cart</a></p>
        }
    </div>
</div>

<style>
    .quantity {
        text-align: right;
    }

    .date {
        text-align: left;
        margin-top: 15px;
        margin-left: 6px;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 500px;
        margin: auto;
        text-align: center;
        font-family: arial;
    }

    .price {
        color: grey;
        font-size: 22px;
    }

    .card button {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

        .card button:hover {
            opacity: 0.7;
        }
</style>

@section Scripts {
    <script>
        function sendVote(foodId, isUpVote) {
            var token = $("#votesForm input[name=__RequestVerificationToken]").val();
            var json = { foodId: foodId, isUpVote: isUpVote };
            $.ajax({
                url: "/api/votes",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { 'X-CSRF-TOKEN': token },
                success: function (data) {
                    $("#votesCount").html(data.votesCount);
                }
            });
        }
    </script>
}
